@model DataLayer.Model.User

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Content/LoginStyle.css" />
    <link rel="stylesheet" href="~/Content/fontawesome/css/all.min.css" />
    <title>@ViewBag.Titlle</title>
</head>
<body>

    <div class="login-card">
        <h3>ورود به حساب کاربری</h3>

        @using (Html.BeginForm("Login", "Login", new { }, FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            <div class="input-group">
                @Html.LabelFor(m => m.UserName, new { @class = "input-label" })
                <div>
                    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "input-field" } })
                </div><br />
            </div>
            @Html.ValidationMessageFor(m => m.UserName, "", htmlAttributes: new { @class = "txt-warning", id = "username-warning" })
            <div class="input-group">
                @Html.LabelFor(m => m.HashPassword, new { @class = "input-label" })
                <div>
                    @Html.EditorFor(m => m.HashPassword, new { htmlAttributes = new { @class = "input-field", type = "password" } })
                </div><br />
            </div>
            @Html.ValidationMessageFor(m => m.HashPassword, "", htmlAttributes: new { @class = "txt-warning", id = "password-warning" })
            <br />
            @ViewBag.LoginError
            <div>
                <input type="submit" value="ورود" id="submit" />
            </div>
        }
    </div>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script>
        /* Check user entry:
         * prevent send data to server if username or password is empty.
         */
        $(document).ready(function () {            
            $("form").on("submit", function (e) {
                
                var userName_isEmpry = $("#UserName").val() == "";
                var password_isEmpry = $("#HashPassword").val() == "";                
                if (userName_isEmpry || password_isEmpry) {
                    e.preventDefault();
                    if (userName_isEmpry)
                        $("#username-warning").text("!لطفا نام کاربری خود را وارد نمایید");
                    if (password_isEmpry)
                        $("#password-warning").text("!لطفا رمز عبور خود را وارد نمایید");
                }
            });
        });
    </script>
</body>
</html>

