@model DataLayer.Model.Member
@using LibraryManagement.Models

<div>
    @using (Html.BeginForm("NewMember", "Main", FormMethod.Post))
    {
        <div id="new-member-form">
            <section class="newMember-right-section">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "input-label" })
                    <div>
                        @Html.EditorFor(m => m.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NationalCode, htmlAttributes: new { @class = "input-label" })
                    <div>
                        @Html.EditorFor(m => m.NationalCode)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RegistrationDate, htmlAttributes: new { @class = "input-label" })
                    <div>
                        @Html.EditorFor(m => m.RegistrationDate)
                    </div>
                </div>
            </section>

            <section class="newMember-left-section">
                <div class="form-group">
                    @Html.LabelFor(m => m.Family, htmlAttributes: new { @class = "input-label" })
                    <div>
                        @Html.EditorFor(m => m.Family)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MobileNumber, htmlAttributes: new { @class = "input-label" })
                    <div>
                        @Html.EditorFor(m => m.MobileNumber)
                    </div>
                </div>
            </section>
            <div class="spacer" style="clear: both;"></div>
            <div>
                @{
                    if (Session[Sessions.USEREXIST.ToString()] != null)
                    {
                        @Html.ValidationMessageFor(m => m.MemberId, Session[Sessions.USEREXIST.ToString()].ToString(), new { @class = "txt-success" });
                        Session[Sessions.USEREXIST.ToString()]=null;
                    }
                    else if (Session[Sessions.OPERATION_RESULT.ToString()] != null)
                    {
                        @Html.ValidationMessageFor(m => m.MemberId, Session[Sessions.OPERATION_RESULT.ToString()].ToString(), new { @class = "txt-success" });
                        Session[Sessions.OPERATION_RESULT.ToString()]=null; 
                    }
                }
            </div>
            <input type="submit" id="submit" value="ثبت" />
        </div>
    }   
</div>
